{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<h2 class="text-center mt-5">Lib - online library for everyone</h2>
<div style="margin-top:120px">
<form action="" method="post" class="mt-2">
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    {% csrf_token %}
    {% for field in form %}
    {% bootstrap_field field show_label=False  addon_after='<button class="btn btn-primary" type="submit">Search</button>' form_group_class='col-sm-10 col-md-6' addon_after_class='None' placeholder="Enter book name to search" %}
    {% endfor %}
    <div class="col-sm-1 col-md-3"></div>
</div>
</form>
</div>
<p class="text-center text-muted m-3">Currently, We have <b>{{ total_books }}</b> books available.</p>
{% endblock %}

{% bootstrap_javascript jquery="full" %}
